{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}My Site{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'frontend/css/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="logo">Warrox.be</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="https://github.com/Warre-python">Github</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>