{% extends 'frontend/base.html' %}
{% load static %}

{% block title %} Terminal | Warrox.be {% endblock %}

{% block meta %}
   
    
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'frontend/css/terminal.css' %}">
{% endblock %}



{% block content %}
    <div class="app" id="terminal">
        <div class="top-bar" id="top-bar" draggable="true">           
            <div class="buttons">
                <span id="close" class="close"></span>
                <span id="minimize" class="minimize"></span>
                <span id="zoom" class="zoom"></span>
            </div>
            <div class="actionbuttons">
                <div id="screenshot" class="action-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-camera" viewBox="0 0 16 16">
                        <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                        <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                      </svg>
                </div>
             
                <div id="reset" class="action-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#bb0000" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                </div>
            </div>
       
            
            <div class="title" id="bar-title">warrox@bash</div>
        </div>
        
        <div class="terminal" id="terminal-body">
            <div class="output"></div>
            <div class="input-line">
                <span id="prompt" class="prompt">warrox@bash:/$</span>
                <input type="text" class="input" autocomplete="off" autocorrect="off" autocapitalize="off"
                    spellcheck="false">
            </div>
            <div class="output-after-input"></div>
        </div>
        

    </div>
    
    <script src="{% static 'frontend/js/terminal.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
{% endblock %}

