<!DOCTYPE html>
{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
    Shop
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'frontend/css/shop.css' %}">
{% endblock %}

{% block content %}
    <h1>Shop</h1>
    <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <h2>{{ product.name }}</h2>
                    <p>€ {{ product.price }}</p>
                    <a href="{% url 'product' product.slug %}">View product</a>
                </div>
            {% endfor %}
        </div>
{% endblock %}
  
        
 